.main-view-detail-book {
    display: flex;
    flex: 1;
    padding: 10px;
    height: 80%;
    padding-top: 25px;
}

.view-img {
    height: 500px;
    width: 300px;
    margin-left: 90px;
}

.content-book {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 200px;
    overflow: visible;
    font-size: 22px;
}

.content-book p {
    white-space: pre-line;
}

#line {
    width: 100%;
    border: 1px solid black;
}

#goBackBtn, #deleteBtn, #editBtn {
    width: fit-content;
    font-size: 18px;
}

#descElement {
    padding-top: 20px;
    height: 400px;
    overflow: auto;
    overflow-y: scroll;
}

#quantityDiv {
    display: flex;
    font-size: 28px;
    margin-top: 70px;
    align-items: center;
}

#quantity {
    margin-left: 10px;
    margin-right: 10px;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 40%;
    height: fit-content;
    margin-bottom: 30px;
}

.infor-div {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 30%;
    top: 100px;
    width: 600px;
    height: 600px;
    z-index: 10;
    padding: 28px;
    overflow: auto;
    overflow-y: scroll;
    border: 1px solid black;
    background-color: white;
}

.infor-div label {
    font-size: 22px;
    margin-top: 10px;
    font-weight: bold;
}

.infor-div input {
    font-size: 16px;
}

.infor-div textarea {
    font-size: 16px;
    min-height: 120px;
    resize: none;
    height: fit-content;
}

.infor-div button {
    margin-top: 20px;
    width: 40%;
    align-self: center;
}

#qty {
    margin-bottom: 10px;
}