body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-taskbar {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 20px;
    position: relative;
}

.top-taskbar p {
    width: fit-content;
    margin: 20px;
    font-size: 20px;
}

.main-view {
    display: flex;
    height: 80%;
    flex: 1;
    margin-top: 40px;
}

#searchForm {
    margin-left: 50%;
}

.optionDiv {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 4px;
    font-size: 18px;
}

#logoutBtn {
    font-size: 18px;
    margin-top: 100px;
    height: fit-content;
    width: 180px;
    border: 1px solid black;
    text-align: center;
}

.btn:hover {
    background-color: #A9A9A9;
}

#goHomeBtn {
    font-size: 30px;
    width: auto;
    border: none;
    background-color: white;
    padding-left: 10px;
}

.sidebar {
    width: 300px;
    height: 90%;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.sidebar p {
    padding: 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.sidebar p:hover {
    background-color: #A9A9A9;
}

.main-view2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 15px;
    height: 95%;
    border: 1px solid black;
}

.optionBtn {
    display: flex;
    height: fit-content;
    border-bottom: 1px solid black;
    justify-content: right;
    padding: 10px;
    padding-right: 20px;
}

.editBtn, .acptBtn, .closeBtn, .delBtn {
    margin-top: 10px;
    width: 40%;
    align-self: center;
}

.listItem {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow: auto;
    overflow-y: scroll;
}

.item {
    display: flex;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
}

.item:hover {
    background-color: #A9A9A9;
}

.item p {
    margin-left: 20px;
}

.infor-div {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    overflow: auto;
    overflow-y: scroll;
    border: 1px solid black;
    position: absolute;
    left: 700px;
    top: 100px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
}

.hide {
    display: none;
}

#searchFormManage {
    margin-left: 40%;
    margin-right: 40px;
}

#searchInputManage {
    height: 55%;
    width: 300px;
    font-size: 16px;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

th, tr {
    text-align: left;
    border: 1px solid black;
    font-weight: normal;
}

.header {
    font-weight: bold;
}