<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Library Manage</title>
    <link rel="stylesheet" th:href="@{/styleHome.css}">
    <link rel="stylesheet" th:href="@{/styleDetailBook.css}">
</head>

<body>
    <div class="main">
        <div class="top-taskbar">
            <button id="goHomeBtn">Library Manage</button>
        </div>

        <div class="main-view-detail-book">
            <img th:src="${book.urlImg}" class="view-img">

            <div class="content-book">
                <h2 th:text="${book.name}"></h2>
                Tác giả: <p th:text="${book.author}"></p>
                <label id="line"></label>
                <p id="descElement" th:text="${book.description}"></p>
                <div id="quantityDiv">
                <label for="quantity">Số lượng có sẵn:</label>
                <p th:text="${book.quantity}" id="quantity"></p>
            </div>
            </div>
        </div>

        <div class="btnDiv">
            <button id="goBackBtn">Quay lại trang chủ</button>
            <button id="editBtn">Sửa</button>
            <button id="deleteBtn">Xóa</button>
        </div>
    </div>
</body>
<script th:src="@{/scriptDetail.js}"></script>

</html>