<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Library Manage</title>
    <link rel="stylesheet" th:href="@{/styleHome.css}">
    <link rel="stylesheet" th:href="@{/styleModul.css}">
</head>

<body>
    <div class="main">
        <div class="top-taskbar">
            <button id="goHomeBtn">Library Manage</button>
            <form id="searchForm">
                <input type="text" placeholder="Tìm kiếm đầu sách..." id="searchInput">
                <button type="submit" hidden></button>
            </form>
            <p th:text="${userName}" th:data-user-id="${userId}" th:data-role="${role}" id="userLabel"></p>
        </div>

        <div class="main-view">
            <div class="sidebar">
                <div class="optionDiv">
                    <p id="literatureBook">Văn học Việt Nam</p>
                    <p id="itBook">Sách công nghệ thông tin</p>
                    <p id="scienceBook">Sách khoa học</p>
                    <p id="comicBook">Truyện tranh</p>
                    <p id="novel">Tiểu thuyết</p>
                </div>

                <div class="optionDiv">
                    <p id="addBookBtn">Thêm đầu sách</p>
                    <p id="manageBorrowCard">Quản lý phiếu mượn</p>
                    <a id="manageReader" th:href="@{/manage_reader}">Quản lý độc giả <br><br></a>
                    <a id="manageEmployee" th:href="@{/manage_user}">Quản lý người dùng <br><br></a>
                    <a id="overView" th:href="@{/statistics}">Thống kê</a>
                </div>

                <p id="logoutBtn">Đăng xuất</p>
            </div>

            <div class="main-view2">
                <div class="viewBook" th:each="book : ${books}">
                    <img th:src="${book.urlImg}">
                    <p th:text="${book.name}"></p>
                    <button class="viewDetailBtn" th:data-book-id="${book.bookId}">Xem chi tiết</button>
                </div>
            </div>

            <div class="infor-div">
                <label for="bookName">Tên sách:</label>
                <input type="text" id="bookName">

                <label for="author">Tác giả:</label>
                <input type="text" id="author">

                <label for="publish">Năm xuất bản:</label>
                <input type="text" id="publish">

                <label for="type">Thể loại:</label>
                <input type="text" id="type">

                <label for="desc">Mô tả:</label>
                <textarea type="text" id="desc"></textarea>

                <label for="qty">Số lượng:</label>
                <input type="text" id="qty">

                <input type="file" id="imgInput" accept="image/*">

                <div class="btnDiv">
                    <button class="closeBtn">Đóng</button>
                    <button class="acptBtn">Xác nhận</button>
                </div>
            </div>

            <div class="cardDiv">
                <p>Thông tin phiếu mượn</p>
                <div class="cardInfor">
                    <div class="userInfor">
                        <p id="cardIdElement"></p>
                        <p id="userElement"></p>
                        <p id="readerElement"></p>
                    </div>

                    <div class="timeInfor">
                        <p id="createdElement"></p>
                    </div>
                </div>

                <div class="booksDiv">
                    <p>Danh sách sách mượn:</p>
                    <table class="listBorrowBook">
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Ngày hẹn trả</th>
                            <th>Ngày trả</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </table>
                </div>

                <div class="noteDiv">
                    <span for="totalAmount">Tổng tiền đã phạt: <span id="totalAmount"></span></span>
                    <label for="noteContent">Ghi chú:</label>
                    <textarea id="noteContent"></textarea>
                </div>

                <div class="btn">
                    <p id="goBack">Quay lại</p>
                    <p id="acpt">Xác nhận</p>
                </div>
            </div>

            <div class="createCardDiv">
                <h3>Tạo phiếu mượn mới:</h3>

                <div class="readerInput">
                    <label for="readerIdInput">Mã độc giả:</label>
                    <input id="readerIdInput" type="text">
                </div>

                <div class="booksDiv">
                    <label for="searchBookForm">Tìm thông tin đầu sách:</label>
                    <form id="searchBookForm">
                        <input type="text" id="searchBookInput" placeholder="Tìm kiếm theo tên sách...">
                        <button type="submit" hidden></button>
                    </form>

                    <table class="bookSearch">
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Số lượng có sẵn</th>
                        </tr>
                    </table>
                </div>

                <div class="booksDiv">
                    <label for="addBorowBook">Danh sách sách mượn:</label>
                    <button type="button" id="addBorowBook">Thêm</button>

                    <table class="bookInCreateCard">
                        <tr>
                            <th>ID</th>
                            <th>Ngày hẹn trả</th>
                        </tr>
                    </table>
                </div>

                <div class="btn">
                    <p id="cancelCreateCard">Quay lại</p>
                    <p id="acptCreateCard">Xác nhận</p>
                </div>
            </div>

        </div>

        <div class="backdrop" id="waiting">
            <img src="https://res.cloudinary.com/dsrecf30u/image/upload/v1775634843/rajinikanth_grfrwm.gif">
        </div>

    </div>

    <script th:src="@{/scriptHome.js}"></script>
    <script th:src="@{/scriptBorrowing.js}"></script>
    <script th:src="@{/scriptReturn.js}"></script>
</body>

</html>