<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý thư viện</title>
        <link rel="stylesheet" th:href="@{/styleHome.css}">
    </head>
    <body>
        <div class="main">
            <div class="top-taskbar">
                <button id="goHomeBtn">Thư viện sách</button>
                <input type="text" placeholder="Tìm kiếm" id="searchInput">
                <button id="logoutBtn">Đăng xuất</button>
            </div>

            <div class="main-view">
                <div class="sidebar">
                    <p>Danh sách đầu sách</p>
                    <p>Quản lý phiếu mượn</p>
                    <p>Thống kê</p>
                </div>
                <div class="main-view2">
                </div>
            </div>
        </div>
    </body>
</html>